.challenge {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin: 1rem 1rem;
  background: linear-gradient(#4df8df, #4df0f8);
  color: #221c18;
  border-radius: 1rem;
  flex-grow: 1;
}

.challenge button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background: #12352f;
  color: #edfcfa;
  font-size: 1.2rem;
  cursor: pointer;
}
.challenge button:hover {
  background: #051715;
}
.challenge h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #221c18;
}
.challenge-time {
  border: 1px solid #46cebe;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;
}

.challenge .active {
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
