.main-header h1 {
  font-family: "Handjet", monospace;
  text-align: center;
  text-transform: uppercase;
  color: #c1e2dd;
  font-size: 3.5rem;
  margin: 0;
}

.main-header p {
  font-size: 1.2rem;
  margin: 0.5rem;
  text-align: center;
  color: #c6f4f2;
}

.main-header em {
  color: aqua;
  margin: 0 0.5rem;
}
