#player {
  text-align: center;
}
#player h2 {
  color: #54a399;
}
#player h2 em {
  color: aqua;
  text-transform: uppercase;
}

#player div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#player input {
  font: inherit;
  border: 1px solid #54a399;
  background-color: #192f2b;
  border-radius: 4px;
  padding: 0.25rem;
  color: #d1f0ec;
  text-transform: uppercase;
}

#player button {
  cursor: pointer;
  background-color: #54a399;
  border: 1px solid #54a399;
  padding: 0.4rem 1rem;
  color: rgb(16, 23, 23);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: transform 0.2s ease-in-out 1ms;
}

#player button:hover {
  background-color: #126257;
  border-color: #3c8379;
  transform: translateY(-0.1rem);
}

@media screen and (max-width: 375px) {
  #player div {
    flex-direction: column;
  }
  #player input {
    width: 100%;
  }
}
